html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(33, 31, 31);
}

form {
  text-align: center;
  margin-bottom: 30px;
  padding: 20px;
  background-color: rgb(55, 55, 55);
  border-radius: 8px;
  width: 235px;
  color: beige;
}

h1 {
  color: white;
}

h2 {
  color: white;
  text-align: center;
}

h2#form-title {
  margin-top: 0;
  margin-bottom: 30px;
}

input#palette-title {
  background-color: dimgray;
  border-color: rgb(205, 205, 205);
  border-radius: 5px;
}

input#color1,
input#color2,
input#color3 {
  background: rgb(105, 104, 104);
  border: 0;
}

legend {
  text-align: left;
}

div#form-color {
  margin: 7px;
}

fieldset {
  border: 0;
}

.paletteContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(71, 67, 67);
  align-items: center;
  border-top-right-radius: 25px;
  width: 240px;
}

h2.title {
  font-size: 15px;
  color: white;
  margin-bottom: 30px;
}

.black-white-border {
  padding: 10px;
  background: linear-gradient(to bottom, white 50%, black 50%);
}

span {
  font-size: 15px;
  padding-top: 20px;
}

.color-temperature {
  background-color: rgb(133, 130, 130);
  text-align: center;
  width: 240px;
}

.three-colors {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.color-button-wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

button.copy-button {
  background-color: gray;
  color: white;
  text-align: center;
  width: 80px;
  height: fit-content;
  font-size: 11px;
}

button.delete-button {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 10px;
}

#palette-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
